<!--<% if @link %>  
  <p>Are you sure you want to delete the following link: <em>"<%= @link.title %>"</em>?</p>  
  <form action="/<%= @link.id %>" method="post">  
    <input type="hidden" name="_method" value="delete">  
    <input type="submit" value="Yes, Delete It!">  
    <a href="/<%= @link.id %>">Cancel</a>  
  </form>  
<% else %>  
  <p>Note not found.</p>  
<% end %> -->