<form action="/user/new" method="post">

Name: <input type="text" name="name">

Email: <input type="text" name="email">

Password: <input type="text" name="password">

Confirmation password: <input type="text" name="confirmation_password">

<input type="submit" value="Sign up">

</form>